<html>
<head>
	<title>Hello</title>
	<link href="/style.css" rel="stylesheet" type="text/css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script>
		$(function() {
			$("h1").click(function() {
				$(this).slideUp('slow', function() {
  });
			})
		})
	</script>
</head>
<body>
	<h1>Hey Alkatraz128</h1>
	<h1>Or Raiden . . . what ever</h1>
</body>

<form>
<input type="password" name="pwd">
</form>

</html>
