<html>
  <head>
    <title>Hello</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <div class='bordered'> 
      Welcome <%= @name %> 
    </div>

    <a href='/'>Home</a>

  </body>
</html>
